# MinecraftForge
/forge

# Eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

# IntelliJ IDEA
/.idea
/*.iml
/*.ipr
/*.iws
/out
/atlassian-ide-plugin.xml

# Gradle
/.gradle
/build

# ForgeGradle
/run
/libs

# Links
/*.lnk

# Logs
/logs

# PizzAna
/pizzanaIdeas.txt
/TODOForNextRelease.txt

# Unfinished techne models
*.wip.tcn
