# PizzAna's folder for forge stuff
/forge

# Eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

# IntelliJ IDEA
/.idea
/*.iml
/*.ipr
/*.iws
/out
/atlassian-ide-plugin.xml

# Gradle
/.gradle
/build

# ForgeGradle
/run

# Links
/*.lnk

# Releasing
/keystore
/*.jks
/private.properties
